<div class="jumbotron bg-dark l-blank animated fadeIn fast">
    <h1 class="display-4">Hero App</h1>
    <p class="lead">Aplicación de películas de Marvel y DC.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-3">
            <br><br><br>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" style="max-width: 90%;">
        </div>
        <div class="col6">
            <h4>Aplicación hecha con Angular, para apreder sobre elementos como:</h4>

            <ul>• Instalar bootstrap o librerías de terceros usando el Angular-CLI</ul>
            <ul>• Breve introducción a los Pipes </ul>
            <ul>• Creación de rutas de nuestra aplicación</ul>
            <ul>• Uso de RouterLink y RouterLinkActive para movernos de página y colocar clases a los elementos activos.</ul>
            <ul>• Uso del modulo Router, que nos permite movernos de página mediante código.</ul>
            <ul>• Obtención de parámetros vía URL.</ul>
            <ul>• Configuración de nuestro primer servicio en Angular para el manejo de la data.</ul>

            <a class="btn btn-danger btn" href="/heroes" role="button">Ver héroes</a>
        </div>
    </div>

</div>